.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
.seccion-profile {
  width: 250px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}  

.seccion-profile img{
  display: block;
  margin: auto;
}

.principal{
  display: block;
  margin: 5px;
}

.secundaria{
  display: block;
  margin: 5px;
}
.opciones-conf{
  width: 100%;
}
.seccion-botones{
  width: 250px;
}